# Ignored files
*.txt
mail\mailTEMPLATE.php
mail\contact_me.php
ios.php
portfolio.php
todo.md


#Ignored folders

projects/
php_tuts/
phpClass/
schoolwork/
VSCodeworkspace/
.idea/
.vscode/
..myImgs/
...priv-data/