// SETUP
body{ 
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
}

.App{

    margin: 0;;
    padding: 0;
}

section{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}