@use "./../components/colors" as c;
//# Hero Section
.heroSection {
  background-position: center;
  background-size: cover;
  margin: 0;
  // border: 1px dashed orange;

  .heroP {
    color: c.$Secondary;
    text-shadow: -2px -2px c.$Tertiary;
    font-size: 3rem;
    height: 50vh;
    width: 20%;
    padding: 2%;
    margin: 0 5%;
    margin-top: 0;
    font-weight: bolder;
    padding-top: 45vh;
  }
}
