@use './../components/fonts' as f;
@use './../components/colors' as c;
//# SERVICES SECTION
.servicesSection{
    margin: 0;
    padding: 0;


    .servicesHeader{
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 40vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;


        h2{
            font-size: 6rem;
            margin: 0;
            margin-top: 10%;
            padding: 0;
            text-align: center;
            justify-self: center;
            font-family: f.$FontOne;
            color: c.$Primary;
            text-shadow: -1px -1px c.$Secondary, 2px 1.5px c.$Tertiary;
        }
    }

    .servicesList{
        width: 100%;
        height: 60vh;
        display:flex;
        flex-direction: row;

        .serviceBox{

            width: 25%;
            display: flex;
            flex-direction: column;
            margin: 2% 0;

            h3{
                text-align: center;
                font-size: 3rem;
                font-family: f.$FontOne;
                font-style: normal;
                font-weight: bold;
                color: c.$Secondary;
                text-shadow: -1px -1px c.$Fourth, 2px 1.5px c.$Tertiary;
                
                margin: 0 auto;
            }

            .servicePara{
                width: 100%;
                height: 30%;
                margin: 0;

                p{
                    justify-self: center;
                    margin: 3%;
                    font-size: 1.3rem;
                }
            }

            .serviceImage{

                display:flex;
                text-align:center;
                flex-direction: row;
                justify-content: space-around;
                vertical-align: middle;
                height: 50%;

                img{
                    width: 55%;
                    height: 74%;
                    margin: 1%;
                    padding: 2%;
                }
            }


        }


    }
}
