@use './../components/colors' as c;
@use './../components/mixins' as m;
@use './../components/fonts' as f;
.showcase {
    height: 64vh;
    margin: 0;

    h2{
        margin: 0 auto;
        text-align: center;
        height: 10vh;
    }

    .showcaseGallery{
        height: 70vh;

        .showcaseRow {
            display: flex;
            flex-direction: row;
            width: 98%;
            height: 45%;
            margin: 0;
        }
    }

}


.showcaseImgBox{
    width: 25%;
    height: 90%;
    margin: 1%;
    background: c.$Secondary;
    position: relative;
    border: 1px dashed red;

    &:hover .projectThumb{
        opacity: 0.3;
          
    }

    &:hover .projectDataBox{
        opacity: 1;
    }

    





}

//# Overlay
.projectThumb {
    opacity:1;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.projectDataBox {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: c.$Fourth;
    left: 50%;
    top: 50%;
    margin-bottom: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;

    h3{
        color: c.$Primary;
        margin: 1%;
        height: 20%;
        text-align: center;
        font: f.$FontOne;
    }

    p{
        height: 80%;
        margin: 1%;
        font: f.$FontTwo;
    }

    .projectTypeIcon{
        height: 3%;
        margin: 0;
        border: yellow;
        // background: blue;

        // TODO ALL ICONS IN GREEN with black shadow
        // TODO ANDRoiD, REACT, PHP, WEBSITE ICON
    }


}