//IMPORTS
@font-face {
    font-family: 'Great Vibes';
    src: local('Great Vibes'), url('./../font/GreatVibes-Regular.ttf') format('ttf');
    font-style:normal;

    font-family: 'Elephant';
    src: local('Elephant'), url('./../font/elephant.ttf')
    format('ttf');
    font-style:normal;
}


//Variables
$FontOne: 'Great Vibes';
$FontTwo: 'Elephant';
$Primary: #489d65;
$Secondary: #ffd700;
$Tertiary: #000;
$Fourth: #5a4942;


//Mixins
@mixin PrimaryFont {
    font-family: $FontOne;
    text-shadow: -1px -1px $Secondary, 2px 1.5px $Tertiary;
    span{ color: $Primary}; 
    color: $Fourth;
    font-size: 3rem;

}

@mixin SecondaryFont {
    font-family: $FontTwo;
}

@mixin HoverBtn {
    &:hover {
        font-size: 120%;
        color: $Secondary;
        text-shadow: -.5px -1px $Fourth, 2px 1.5px $Primary;
        //todo ADD A BOUNCE ANIMATION
        //todo suddle glow text shadown green to black to yellow
        //todo ADD A slow green-yellow pulse glow shadow 
    }
}


body{ 
    z-index: 1;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.App{
    // background-color: brown;
    margin: 0;;
    padding: 0;
}

header{ 
    position: fixed;
    z-index: 99;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.3);
    border: 1px dashed red;
    

    .headerTitle {

        width: 30%; 
        height: 5%;  
        margin-left: 2%;
        text-align: center;        
        h1{ 
            padding:0;
            margin: 0;
            text-align: center;
            @include PrimaryFont;
        }
    }


}
nav{

    height: 100%;
    width: 60%;
    margin: 0 10% 0 30%;
    padding: 0;
    

    ul{
        display:flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        justify-items: center;
        justify-content: space-around;

        li{
            color: blue;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            padding: .7%;
            width: 15%;
            height: 100%;
            flex: 1 1 1;
            font-size: 1.5rem;
            font-family: 'Elephant';
            @include HoverBtn;

            a{
                color: #000;
                text-decoration: none;


             }
        }
    }
}


section{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.heroSection{
    background:url('../../imgs/heroBackground.png') no-repeat center ;
    background-size: cover;

    .heroP{
        color: $Secondary;
        text-shadow: -2px -2px $Tertiary;
        font-size: 3rem;
        width: 20%;
        padding: 2%;
        margin: 2%;
        font-weight: bolder;

    }
}
.servicesSection{
    margin: 0;
    padding: 0;


    .servicesHeader{
        width: 100%;
        background: blue;
        background: url('../../imgs/Services-header.png') no-repeat center;
        background-size: cover;
        height: 40vh;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;


        h2{
            font-size: 6rem;
            margin: 0;
            margin-top: 10%;
            padding: 0;
            text-align: center;
            justify-self: center;
            font-family: $FontOne;
            color: $Primary;
            text-shadow: -1px -1px $Secondary, 2px 1.5px $Tertiary;
        }
    }

    .servicesList{
        width: 100%;
        height: 60vh;
        border: 1px dashed red;
        display:flex;
        flex-direction: row;

        .serviceBox{
            border: 1px dashed black;
            width: 25%;
            display: flex;
            flex-direction: column;

            h3{
                border: 1px dashed red;
                text-align: center;
                font-size: 2rem;
            }

            .servicePara{
                width: 100%;
                height: 40%;
                border: 1px dashed green;

                p{
                    justify-self: center;
                    margin: 3%;
                    font-size: 1.3rem;
                }
            }


        }


    }
}
.gallery{
    background-color: tan;


}
.about{

}